<div class="chat_header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
  <div class="message">
    <div class="message-user">
      <div class="message-name">
        <a href="#">Tom</a>
      </div>
      <div class="message-time">
        <a href="#">2020/3/31(Wed) 12:43:30</a>
      </div>
    </div>
    <div class="message-text">
      <a href="#">おはよう</a>
    </div>
  </div>
  <div class="message">
    <div class="message-user">
      <div class="message-name">
        <a href="#">Sim</a>
      </div>
      <div class="message-time">
        <a href="#">2020/3/31(Wed) 12:43:30</a>
      </div>
    </div>
    <div class="message-text">
      <a href="#">こんばんわ</a>
    </div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>